<header class="row justify-content-between mt-2">
  <h1 class="col-6 text-success">Todos</h1>
  <div class="col-2 <%= logged_out? ? 'd-none' : 'd-flex' %>">
    <form class="align-self-center" method="post" action="/session">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input name="_method" type="hidden" value="DELETE">
      <button class="btn btn-outline-dark">Logout</button>
    </form>
  </div>
</header>