@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Monoton|Roboto+Mono');
@import './todos';
$border: 1px solid gray;

html {
  height: 100%;
  body {
    height: 100%;
    li {
      list-style: none;
    }
    #root {
      height: 100%;

      > .row {
        height: 100%;
      }
    }
  }
}

.todo-list-form {
  form {
    .todo-list-form__input-container {
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
      
      input {
        outline: none;
        padding: .5rem 0;
        width: 100%;
        border: none;
        display: flex;
      }

      button {
        display: flex;
        padding: 0;
        border: none;
        margin-bottom: .25rem;
        background-color: #FFF;
        cursor: pointer;
        outline: none;
        font-size: 28px;
        font-weight: bold;
        transition: all .5s;

        &:hover {
          color: #4BB543;
        }
      }
    }
  }
}

.todo--incomplete {
  .todo__complete-button {
    color: #ddd;

    &:after {
      content: '\2713';
    }

    .todo__complete-button:hover {
      color: #17a2b8 !important;
    }
  }
}

.todo--complete {
  .todo__complete-button:after {
    content: '\2713';
    color: #17a2b8;
  }
}

.todo-list {


  .step--incomplete {
    .step__complete-button:hover:after {
      content: '\2713';
      position: absolute;
      bottom: -4px;
      right: 0px;
    }
  }

  .step--complete {
    .step__complete-button:after {
      content: '\2713';
      position: absolute;
      bottom: -4px;
      right: 0px;
    }
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .toggle-detail-icon {
    transition: transform .25s ease-in-out;
  }

  .todo-detail-view {
    transition: max-height .25s ease-in-out;
  }
}

header {
  h1 {
    font-family: 'Monoton', cursive;
  }
}

body {
  .expand-arrow-tip {
    text-align: center;
    top: -65px;
    left: -45px;
    width: 110px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 16px;
  }

  .alert {
    font-family: 'Chakra Petch', sans-serif;
  }

  form {
    font-family: 'Chakra Petch', sans-serif;
  
    .create-todo-button {
      background-color: #eee;
    }
  }

  ul {
    font-family: 'Roboto Mono', sans-serif;
  }
}